<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Gov Job Guru CMS</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img height="30px"
					src="govjobguru.png" />
				</a>
				<h3 class="navbar-text">Govermnet Job Guru Content Manage
					System</h3>
			</div>
		</div>
	</nav>

	<div class="container">
		<form class="form-signin" th:action="@{/login}" method="post">
			<div class="form-signin-heading" th:if="${param.error}">Invalid
				username and password.</div>
			<div class="form-signin-heading" th:if="${param.logout}">You
				have been logged out.</div>
			<div>
				<input class="form-control" type="text" name="username"
					placeholder="User Name" />
			</div>
			<div>
				<input class="form-control" type="password" name="password"
					placeholder="Password" />
			</div>
			<div>
				<input class="btn btn-lg btn-primary btn-block" type="submit"
					value="Sign In" />
			</div>
		</form>
	</div>
</body>
</html>